<p id="notice"><%= notice %></p>

<p>
  <strong>Invoiced at:</strong>
  <%= @invoice.invoiced_at %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @invoice.subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<p>
  <strong>Invoice ID (CCID):</strong>
  <%= @invoice.ccid %>
</p>

<%= form_for @invoice, url: calc_invoice_path(@invoice), method: :put do |f| %>
  <%= f.submit 'Calculate' %>
<% end %>

<%= link_to 'Report', report_invoice_path(@invoice, :format => 'pdf') %> |
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Work Weeks', [@invoice, :work_weeks] %> |
<%= link_to 'Back', invoices_path %>
