<p id="notice"><%= notice %></p>

<h1>Listing Work Weeks</h1>

<table>
  <thead>
    <tr>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Notes</th>
      <th>Hours</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_weeks.each do |work_week| %>
      <tr>
        <td><%= work_week.started_at %></td>
        <td><%= work_week.ended_at %></td>
        <td><%= work_week.notes %></td>
        <td><%= work_week.hours %></td>
        <td><%= work_week.invoice_id %></td>
        <td><%= link_to 'Show', [@invoice, work_week] %></td>
        <td><%= link_to 'Edit', [:edit, @invoice, work_week] %></td>
        <td><%= form_tag [@invoice, work_week], method: :delete do %><%= submit_tag 'Delete' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work week', [:new, @invoice, :work_week] %> | <%= link_to 'Back', [@invoice] %>
